* {
    padding: 0;
    margin: 0;
    background-color: rgb(17, 17, 17);
    box-sizing: border-box;
}



body {

font-family: "Poppins",sans-serif;
font-weight: 100;
font-style: normal;
      
}

html, body {
    min-height: 100vh;
}


.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
   
}

.texto > h1 {
    color: azure;
    line-height: 1.5;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    margin: 10px;
    text-align: center;
 

}
.bibia{
    background-color: rgba(240, 172, 240, 0.63);
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    color: white;
    box-shadow: 1px 5px 1px rgb(0, 0, 0);
    


}
.box{
    background-color:  rgba(240, 172, 240, 0.63);
    margin: 50px;
    border-radius: 13px;
    padding: 12px;
    
}

.texto > h1 > a {
    color: rgb(245, 17, 17);
    text-decoration: none;
}


section {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

section > img {
    max-width: 90%;
    height: auto;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.452);
    border-radius: 2%;
}


@media (max-width: 600px) {
    .texto > h1 {
        font-size: 1.5rem;
        margin-left: 0;
    }

    section {
        margin-top: 20px;
    }
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.botao {
    padding: 12px 24px;
    background-color: rgb(209, 4, 45);
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    transition: all 1.1s ease;
    box-shadow: 1px 4px 6px rgba(0,0,0,0.3);
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: 2px 2px 2px black;
}

.botao:hover {
    background-color: rgb(200, 0, 0);
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0,0,0,0.4);
}
.ou{
color: white;
font-size: 2rem;

}
.box2{
display: block;


}