* {
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
}

body {
   
    min-height: 100vh;
    font-family: "Poppins",sans-serif;
    background: linear-gradient(135deg, #f8d3d3, #fcb1e0);
}

section {
    display: block;
    text-align: center;
    color: aliceblue;
}

section > h1 {
    margin-top: 60px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.925);
    font-weight: bolder;
    font-size: 35px;
}

section > p {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

aside {
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center;     /* centraliza verticalmente */
    padding: 40px 0;
    height: auto;
}

aside > ul {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.904);
    padding: 20px 30px;
    border-radius: 10px;
    display: block;
    text-align: left;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.774);
    margin: 15px;

    
}

aside > ul > li {
    margin-bottom: 10px;
    background-color: transparent; /* transparente porque já tem bg na ul */
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: rgb(240, 32, 32);
    font-size: 22px;
}

aside > ul > li > a {
    background-color: transparent;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.texto-abaixo{
    color: rgba(255, 255, 255, 0.849);
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
   
}
img{
    width: 100px;
    display: block;
    padding-top: 20px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.774);

}

    

